mixin item(score, title, url, thumb)
	li
		.list-score= score
		.list-content
			a(href=url)
				img.list-thumb(src=thumb)
				.list-title= title

head
	title reddit
	link(rel="stylesheet", href="style.css")
body
	ul#main-container
		each i in items
			+item(i.score, i.title, i.url, i.thumbnail)
