mixin item(score, title, url, thumb)
	li
		.list-score= score
		.list-content
			a(href=url)
				img.list-thumb(src=thumb)
				.list-title= title

head
	title reddit
body
	ul#main-container
		+item(1000, "Test item", "test.com", "none")
