@font-face {
	font-family:"DDG_ProximaNova";
	src:url("font/ProximaNova-Reg-webfont.woff") format("woff"),url("font/ProximaNova-Reg-webfont.ttf") format("truetype");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:"DDG_ProximaNova";
	src:url("font/ProximaNova-Light-webfont.woff") format("woff"),url("font/ProximaNova-Light-webfont.ttf") format("truetype");
	font-weight:300;
	font-style:normal
}

body {
	padding: 0;
	margin: 0;
	color: white;
	line-height: 1;
	background-color: #222;
	font-family: DDG_ProximaNova;
}
a {
	color: white;
	text-decoration: none;
}
a:visited {
	color: #666;
}

#main-container {
	list-style-type: none;
	margin: 0 auto;
	padding: 16px;
	width: 95%;
}
.list-sidebox {
	display: inline-block;
	border-radius: 6px 0 0 6px;
	vertical-align: middle;
	background-color: #333;
	text-align: center;
	width: 70px;
	height: 50px;
}
.list-rank {
	margin: 6px 0 2px 0;
	font-size: 16pt;
}
.list-score {
	font-size: 12pt;
}

.list-thumb {
	display: inline-block;
	vertical-align: middle;
	background-color: #222;
	border-radius: 8px;
	width: 70px;
	height: 70px;
}
.list-content {
	display: inline-block;
	border-radius: 8px;
	background-color: #333;
	box-shadow: 0 0 16px -8px black;
	margin: 5px 0 0 0;
	padding: 8px;
	width: 85%;
}
.list-info {
	display: inline-block;
	vertical-align: middle;
	max-width: 85%;
	padding: 0 0 0 16px;
}
.list-title {
	display: inline;
	font-size: 16pt;
}
.list-domain {
	display: inline;
	margin-left: 8px;
	font-size: 10pt;
	color: #666;
}
.list-flair {
	display: inline;
	font-size: 12pt;
	margin-left: 8px;
	padding: 2px 8px 2px 8px;
	border-radius: 4px;
	background-color: #555;
}
.list-title:hover {
	text-decoration: underline;
}
